@import "./normalize.min.css";
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap");

:root {
	--clr-white: #fff;
	--clr-neutral-800: hsl(240, 67%, 8%);
	--clr-neutral-600: hsl(240, 17%, 26%);
	--clr-neutral-400: hsl(240, 6%, 54%);
	--clr-blue-700: hsl(222, 87%, 56%);
	--clr-blue-300: hsl(194, 48%, 49%);
	--clr-yellow-400: hsl(33, 82%, 61%);
	--clr-purple-400: hsl(263, 67%, 51%);
	--clr-orange-500: hsl(10, 63%, 51%);
	--clr-orange-300: hsl(17, 73%, 46%);
	--clr-orange-600: hsl(2, 68%, 53%);
	--clr-green-200: hsl(169, 73%, 44%);

	--ff-body: "Antonio", sans-serif;
	--ff-title: "Spartan", sans-serif;

	--fs-xl: 5rem;
	--fs-lg: 2.5rem;
	--fs-md: 1.75rem;
	--fs-base: 1rem;
	--fs-sm: 0.75rem;
	--fs-xxs: 0.675rem;

	--fw-bold: 700;
	--fw-medium: 500;
	--fw-regular: 400;

	--tracking-tighter: -0.05em;
	--tracking-tight: -0.025em;
	--tracking-normal: 0em;
	--tracking-wide: 0.025em;
	--tracking-wider: 0.05em;
	--tracking-widest: 0.1em;

	--leading-none: 1;
	--leading-tight: 1.25;
	--leading-snug: 1.375;
	--leading-normal: 1.5;
	--leading-relaxed: 1.625;
	--leading-loose: 2;
}

body {
	background-color: var(--clr-neutral-800);
	background-image: url("../assets/background-stars.svg");
}

/** COMPONENTS */

header {
	margin-block: 1rem;
}

header::after {
	background-color: var(--clr-white);
	content: "";
	display: block;
	margin-block-start: 1rem;
	height: 1px;
	opacity: 0.2;
	width: 100%;
}

.main__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.main__header h1 {
	color: var(--clr-white);
	font-family: var(--ff-body);
	font-size: var(--fs-md);
	margin-block: 0;
	line-height: var(--leading-normal);
	text-transform: uppercase;
	letter-spacing: var(--tracking-tighter);
}

.main__header button {
	border: 0;
	background-color: transparent;
}

/** UTILITY CLASSES */

.container {
	max-width: 1440px;
	margin-inline: auto;
	width: 90%;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
