:root {
  --blue-700: hsl(238, 40%, 52%);
  --blue-100: hsl(239, 57%, 85%);
  --red-400: hsl(358, 79%, 66%);
  --red-100: hsl(357, 100%, 86%);
  --neutral-900: hsl(212, 24%, 26%);
  --neutral-700: hsl(211, 10%, 45%);
  --neutral-200: hsl(223, 19%, 93%);
  --neutral-100: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);

  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--neutral-700);
  background-color: var(--neutral-200);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
}