@font-face {
    font-family: 'Manrope';
    src: url('assets/fonts/manrope/static/Manrope-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Fraunces';
    src: url('assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf');
    font-weight: 600;
}

:root {
    --clr-primary: #44FFA1;
    --clr-secondary: #24053E;
    --clr-neutral-700: #584D62;
    --clr-neutral-200: #FCF8FF;
    --clr-white: #ffffff;

    --font-title: 'Fraunces';
    --font-body: 'Manrope';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--clr-neutral-200);
    font-family: var(--font-body);
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 90%;
    margin-inline: auto;
    max-width: 90rem;
}

.button {
    background-color: var(--clr-primary);
    border: 1px solid transparent;
    color: var(--clr-secondary);
    display: block;
    font-weight: 600;
    margin-inline: auto;
    padding-block: 0.75rem;
    padding-inline: 1.5rem;
    text-decoration: none;
    width: fit-content;
}

.button:hover {
    background-color: transparent;
    border-color: var(--clr-primary);
    color: var(--clr-primary);
}

header {
    color: var(--clr-white);
    display: grid;
    place-items: center;
}

.bg-image-left {
    display: none;
}

.bg-image-right {
    display: none;
}

.background-top {
    position: relative;
    z-index: 0;
    width: 100%;
    background: var(--clr-secondary);
    clip-path: ellipse(200% 85% at 50% 0);
    padding-bottom: 4.4375rem;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}

nav a {
    background-color: transparent;
    border: none;
    color: var(--clr-white);
    text-decoration: none;
    border-bottom: .1875rem solid var(--clr-primary);
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: -0.01rem;
}

nav a:hover {
    color: var(--clr-primary);
    cursor: pointer;
}

.hero {
    display: grid;
    place-items: center;
    text-align: center;
    animation: page-load-down 1000ms ease-in-out;
}

.hero h1 {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 3.125rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 25rem;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--clr-primary);
    text-decoration-thickness: .1875rem;
    text-underline-offset: .625rem;
}

.hero button {
    border: none;
    background: var(--clr-primary);
    font-weight: 700;
    font-size: var(--fs-16px);
    line-height: 2rem;
    letter-spacing: -0.01rem;
    color: var(--clr-secondary);
    height: 3.4375rem;
    width: 8.3125rem;
    margin-top: 2.5rem;
    margin-bottom: 10.25rem;
}

.hero button:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--clr-primary);
    border: .125rem solid var(--clr-primary);
}

.hero-image {
    height: 11.5rem;
    width: 20rem;
    margin-left: 2.9375rem;
    margin-top: -11.3125rem;
    margin-bottom: 2rem;
    position: relative;
}

@media (min-width: 48rem) {
    .background-top {
        position: relative;
        z-index: 0;
        width: 100%;
        background: var(--clr-secondary);
        clip-path: ellipse(140% 94% at 50% 0);
        padding-bottom: 4.4375rem;
        overflow: hidden;
    }

    .bg-image-left {
        display: block;
        position: absolute;
        margin-top: 4.4375rem;
        left: -14.25rem;
    }

    .bg-image-right {
        display: block;
        position: absolute;
        right: -5.9375rem;
        margin-top: 15.625rem;
    }

    nav {
        padding: 2rem 2.5rem;
    }

    .hero h1 {
        font-size: 3.75rem;
        line-height: 3.75rem;
    }

    .hero-image {
        height: 18.5rem;
        width: 32.125rem;
    }
}

main>.main__content {
    padding-block-end: clamp(4.375rem, 3.715rem + 2.817vw, 6.25rem);
    clip-path: ellipse(300% 100% at 50% 0);

}

main>.main__content>div+div {
    margin-block-start: 2.5rem;
}

.feature {
    text-align: center;
}

@media (min-width: 48rem) {
    .feature {
        text-align: left;
    }
}

.feature {
    max-width: 36rem;
    margin-inline: auto;
}

.feature>span {
    aspect-ratio: 1;
    align-items: center;
    border: 1px solid var(--clr-neutral-700);
    border-radius: 999px;
    display: flex;
    font-family: var(--font-title);
    font-size: 1.25rem;
    justify-content: center;
    margin-block-end: 1.5rem;
    margin-inline: auto;
    padding-inline: 16px;
    padding-block: 4px;
    width: 48px;
}

.feature>div>h1 {
    font-family: var(--font-title);
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.6;
    margin-block-end: 1rem;
}

.feature>div>p {
    color: var(--clr-neutral-700);
}

@media (min-width: 48rem) {
    .feature {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .feature>span {
        margin-block-end: 0;
        margin-inline: 0;
    }

    .feature>div>h1 {
        font-size: 1.75rem;
        margin-block-end: 1rem;
    }

    .feature>div>p {
        line-height: 1.75;
    }
}

.cta__section {
    background-color: var(--clr-white);
    position: relative;
    padding-block-start: clamp(6.25rem, 6.03rem + 0.939vw, 6.875rem);
}

.cta__section .img__container {
    margin-block-end: -5rem;
}

.cta__section .img__container img {
    display: block;
    margin-inline: auto;
    width: clamp(17.5rem, 13.759rem + 15.962vw, 28.125rem);
}

.cta__section__content {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    margin-inline: auto;
    padding-block: 2rem;
    padding-inline: 2rem;
    position: relative;
    text-align: center;
    width: 90%;
    max-width: 45rem;
    z-index: 10;
}

@media (min-width: 48rem) {
    .cta__section__content {
        width: clamp(28rem, 26.592rem + 6.009vw, 32rem);
    }
}

.cta__section__content h1 {
    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    margin-block-end: 1rem;
    ;
}

.cta__section__content p {
    line-height: 1.75;
    margin-block-end: 1.5rem;
}

footer {
    background-color: var(--clr-white);
    padding-block-start: 5rem;
    padding-block-end: 4rem;
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin-block-start: 4rem;
}

footer ul li+li {
    margin-inline-start: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}