:root {
	--clr-bluesteel-900: #2b3442;
	--clr-bluesteel-600: #4b6a9b;
	--clr-bluesteel-400: #697c9a;
	--clr-bluesteel-300: #90a4d4;
	--clr-neutral-800: #141d2f;
	--clr-neutral-700: #1e2a47;
	--clr-neutral-100: #f6f8ff;
	--clr-neutral-50: #fefefe;
	--clr-red-450: #f74646;
	--clr-blue-450: #0079ff;
	--clr-blue-250: #60abff;
	--clr-white: #ffffff;

	--clr-icons: #ffffff;
}

[data-theme="dark"] {
	--clr-neutral-800: #f6f8ff;
	--clr-neutral-700: #fefefe;
	--clr-neutral-100: #141d2f;
	--clr-neutral-50: #1e2a47;
	--clr-icons: #4b6a9b;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	background-color: var(--clr-neutral-100);
	color: var(--clr-neutral-800);
	font-family: "Space Mono", "ui-monospace", "monospace";
	width: 90%;
	max-width: 1280px;
	margin-inline: auto;
}

h1 {
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
button {
	font-family: inherit;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 32px;
	max-width: 768px;
	margin-inline: auto;
}

header button {
	align-items: center;
	background-color: transparent;
	border: 0;
	color: var(--clr-neutral-800);
	cursor: pointer;
	display: flex;
	gap: 16px;
	height: 1.25rem;
	width: fit-content;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

form {
	background-color: var(--clr-neutral-700);
	border-radius: 1rem;
	display: flex;
	padding-block: 6.4px;
	padding-inline-start: clamp(12px, 3.712px + 2.21vw, 32px);
	padding-inline-end: .5rem;
	max-width: 736px;
	margin-inline: auto;
	position: relative;
}

form input {
	background-color: transparent;
	border: 0;
	color: var(--clr-neutral-50);
	font-size: clamp(13px, 10.6704px + 0.6211vw, 18px);
	flex: 1;
}

form input::placeholder {
	color: var(--clr-neutral-50);
	opacity: 1;
}

form .error {
	position: absolute;
	right: 160px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--clr-red-450);
	visibility: hidden;
}

form button {
	background-color: var(--clr-blue-450);
	border: 0;
	border-radius: .75rem;
	color: var(--clr-white);
	cursor: pointer;
	font-weight: bold;
	padding-block: 12px;
	padding-inline: 16px;
}

form button:hover {
	background-color: var(--clr-blue-250);
	transition: all 200ms ease-out;
}

section {
	background-color: var(--clr-neutral-700);
	border-radius: 1rem;
	color: var(--clr-neutral-50);
	padding-block: 32px;
	padding-inline: 24px;
	max-width: 736px;
	margin-inline: auto;
	margin-block-start: clamp(16px, 12.688px + 0.884vw, 24px);
}

.perfil .header {
    display: flex;
	gap: 20px;
	margin-block-end: 32px;
}
@media (min-width: 768px) {
	.perfil .header {
		margin-block-end: 0;
	}
}

.perfil .header img {
	border-radius: 624.9375rem;
	width: clamp(70px, 49.28px + 5.525vw, 120px);
	height: clamp(70px, 49.28px + 5.525vw, 120px);

}

@media (min-width: 768px) {
	.perfil__content {
		flex: 1;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
}

.perfil__content strong {
	display: block;
}

.perfil__content small {
	display: block;
}

@media (min-width: 768px) {
	.perfil__content small {
		font-size: 16px;
		line-height: 1.5;
	}
}

@media (min-width: 768px) {
	.perfil__grid {
		display: grid;
		grid-template-columns: calc(clamp(70px, 49.28px + 5.525vw, 120px)) 1fr;
		grid-gap: 20px;
	}

	.perfil__grid > * {
		grid-column: 2;
	}
}

.gh__description {
	font-size: clamp(13px, 10.6704px + 0.6211vw, 16px);
	line-height: 2;
}

.gh__stats {
	list-style: none;
	display: flex;
	justify-content: space-between;
	background-color: var(--clr-neutral-800);
	padding-inline: 16px;
	padding-block: 18px;
	border-radius: .625rem;
	margin-block: 24px;
}

.gh__stats li {
	font-size: clamp(11px, 10.6704px + 0.6211vw, 13px);
	text-align: center;
}

.gh__stats li strong {
	display: block;
	margin-block-start: 8px;
	line-height: 1.5;
	font-size: clamp(16px, 10.6704px + 0.6211vw, 24px);;
}

.gh__socials {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

@media (min-width: 560px) {
	.gh__socials {
		flex-wrap: wrap;
	}
}

.gh__socials li {
	min-width: 50%;
	margin-block-end: 20px;
	white-space: nowrap;
}

.gh__socials li svg {
	fill: var(--clr-icons);
	margin-inline-end: 8px;
}